# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
._*
.AppleDouble
.LSOverride

# Data
data/raw/
data/processed/*.csv
data/processed/*.parquet
data/processed/*.xlsx
*.zip

# Outputs
outputs/models/
outputs/images/
*.pth
*.pt
*.pkl

# Environment
.env

# Logs
*.log
outputs/preprocessors/*.joblib

# Generated synthetic data
outputs/synthetic/
outputs/synthetic/*

outputs/evaluation/
outputs/images/
outputs/synthetic/
outputs/models/
._*
